$color-1: #d90718;
$color-2: #730217;
$color-3: #40010d;
$color-4: #f23d3d;
$color-5: #0d0d0d;
$white: #fff;

$heightNavbar: 25px;
$heightFooter: 65px;
$heightHeader: 500px;

body {
  font-family: "Arial";
  height: 100%;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
