.footer {
  height: $heightFooter;
  width: 100%;
  background-color: $color-5;
  color: $color-1;
  font-family: "Quicksand";
  font-size: 20px;
  justify-content: center;
  display: flex;
  flex-direction: row;
}

.footer-social {
  position: absolute;
  right: 0;
  padding: 10px;
  margin-right: 30px;
  &__icon {
    color: $color-1;
    margin-left: 30px;
  }
}
